name: Test

on:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/test.yml"
      - "index.cjs"
      - "package.json"
  pull_request:
    branches:
      - main
    paths:
      - ".github/workflows/test.yml"
      - "index.cjs"
      - "package.json"

jobs:
  windows-native:
    name: Win ${{ matrix.sys }} / ${{ matrix.node }} / ${{matrix.shell}}
    strategy:
      fail-fast: false
      matrix:
        sys: [windows-latest, windows-11-arm]
        node: [20, 22, 24]
        # might be unnecessory to include pwsh and powershell
        shell: [cmd, pwsh, powershell, bash]
    runs-on: ${{ matrix.sys }}

    steps:
      - uses: actions/checkout@v6
      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node }}
      - name: Echo Node Version
        shell: ${{ matrix.shell }}
        run: |
          node --version
      - name: Check OS Type
        shell: ${{ matrix.shell }}
        run: |
          node index.cjs > os.txt
      - uses: actions/upload-artifact@v5
        with:
          name: os-${{ matrix.sys }}-${{ matrix.node }}-${{ matrix.shell }}
          path: os.txt

  msys2:
    name: MSYS2 ${{matrix.sys}}
    strategy:
      fail-fast: false
      matrix:
        sys: [UCRT64, CLANG64, MINGW64, CLANGARM64]
    runs-on: ${{ matrix.sys == 'CLANGARM64' && 'windows-11-arm' || 'windows-latest' }}
    steps:
      - uses: actions/checkout@v6
      - name: Setup MSYS2
        uses: msys2/setup-msys2@v2
        with:
          msystem: ${{ matrix.sys }}
          update: false
          pacboy: >-
            nodejs:p
      - name: Echo Node Version
        shell: msys2 {0}
        run: |
          node --version
      - name: Check OS Type
        shell: msys2 {0}
        run: |
          node index.cjs > os.txt
      - uses: actions/upload-artifact@v5
        with:
          name: os-${{ matrix.sys }}
          path: os.txt

  done:
    runs-on: ubuntu-latest
    needs:
      - windows-native
      - msys2
    steps:
      - uses: actions/download-artifact@v6
        with:
          pattern: os-*
          path: artifacts
          merge-multiple: true
      - name: Dump collected outputs
        run: |
          for f in artifacts/*.txt; do
            echo "=== ${f##*/} ==="
            cat "$f"
            echo
          done
